<p></p>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKZ3RnIwOzOSz8gjNjtbYz02qnl6DAHqP17g&usqp=CAU">Pana Leñador Balta</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->